:root{
  --color-bg-main: #253334;
  --color-bg-main-dark: #202728;
  --color-card-bg: #F7F3F0;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-text-secondary: #FFFFFF80;
}

body{
  background-color: var(--color-bg-main);
  font-family: "Alegreya", serif;
}
